<!DOCTYPE html>
<html>
    <head>
    {% load static %}
    <meta charset="utf-8">
    <title>Room</title>
    
    <!-- <script type="text/javascript" src="{% static 'chat/reconnecting-websocket.js' %}"></script> -->
    
    
    </head>
<body>


    <textarea id="chat-log" cols="50" rows="20">
        {% for message in messages %}
        [{{message.sender.username}}]: {{message.text}}
        {% endfor %}
    </textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input type="button" id="chat-message-submit" value="send">

    <!-- <script type="text/javascript" src="{% static 'chat/chat.js' %}"></script> -->
    <script type="text/javascript">
        console.log(window.location.pathname)
        let url = 'ws://vidyalu.myvtd.site:8889/ws'+window.location.pathname;
        console.log(url)
        const parts = window.location.href.split('?');
        if (parts.length == 2){
            url += '?' + parts[1];
        }
        const ws = new WebSocket(url);

        ws.onopen = function(event){
            console.log("Connection is opend");
            // ws.send("Thanks for connecting");
        }

        ws.onmessage = function(event){
            console.log(event);
            console.log("Message is received");
            var data = JSON.parse(event.data);

            document.querySelector('#chat-log').value += (
                '['+data.username+']:' + data.text + '\n');
        }

        ws.onclose = function(event){
            console.log("connection is closed");
        }
        ws.onerror = function(event){
            console.log("Something fucked up.");
        }

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e){
        if (e.keyCode === 13) {
            document.querySelector('#chat-message-submit').click();    
        }   
        };

        document.querySelector('#chat-message-submit').onclick = function(e){
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            ws.send(message)
            // chatSocket.send(JSON.stringify({
            //     'message':message,
            //     'command':'fetch_messages'
            // }));
            messageInputDom.value = '';
        };

    </script>

    </body>
</html>